<#setting locale="es_AR">
<#assign s=JspTaglibs["/WEB-INF/tlds/struts-tags.tld"]>
<#assign tiles=JspTaglibs["/WEB-INF/tlds/tiles-jsp.tld"]>
<#assign display=JspTaglibs["/WEB-INF/tlds/displaytag.tld"]>
<#assign ajax=JspTaglibs["/WEB-INF/tlds/ajaxtags.tld"]>
<#assign vc=JspTaglibs["/WEB-INF/tlds/view-controls.tld"]>

<@s.hidden id="oc_osNoConformidad.oid" name="oc_osNoConformidad.oid"/>
<@s.hidden id="oc_osNoConformidad.oc_os.oid" name="oc_osNoConformidad.oc_os.oid"/>
<div id="capaTituloCuerpo" class="capaTituloCuerpo">
   		<table id="tablaTituloMenu" class="tablaTituloMenu">
			<tr>
				<td><@s.text name="${navegacion}"/></td>
			</tr>
		</table>
	</div>
	<div id="capaTituloAccion" class="capaTituloAccion">
		<table id="tablaTituloAccion" class="tablaTituloAccion">
			<tr>
            	<td><div id="errorTrx" align="left"></div></td>
           	</tr>
        	<tr>
				<td><img src="${request.contextPath}/common/images/flecha.gif" border="0" align="absmiddle" hspace="3" ><@s.text name="${titulo}" /></td>
			</tr>
		</table>
	</div>	
	
	<div id="capaCabeceraCuerpo" class="capaCabeceraCuerpo">
		<table id="tablaTituloCuerpo" class="tablaTituloCuerpo">
            <tr>
				<td><b>Datos de la OC/OS</b></td>
			</tr>
		</table>
		<table id="tablaDatosCuerpo" class="tablaDatosCuerpo">
			<tr>
        		<td class="textoCampo" colspan="4">&nbsp;</td>
        	</tr>
			<tr>
      			<td class="textoCampo">N&uacute;mero:</td>
      			<td class="textoDato"><@s.property default="&nbsp;" escape=false value="oc_osNoConformidad.oc_os.numero"/></td>
      			<td  class="textoCampo">Fecha: </td>
				<td class="textoDato">
				<@s.if test="oc_osNoConformidad.oc_os.fecha != null">
				<#assign fecha = oc_osNoConformidad.oc_os.fecha> 
				${fecha?string("dd/MM/yyyy")}	
				</@s.if>
				<@s.else>
				&nbsp;
				</@s.else>									
				</td>	      			
			</tr>	

			<tr>
				<td class="textoCampo">Tipo:</td>
      			<td class="textoDato"><@s.property default="&nbsp;" escape=false value="oc_osNoConformidad.oc_os.tipo"/></td>
      		
				<td class="textoCampo">Proveedor:</td>
      			<td class="textoDato">
      				<@s.property default="&nbsp;" escape=false value="oc_osNoConformidad.oc_os.proveedor.detalleDePersona.razonSocial" /><@s.property default="&nbsp;" escape=false value="oc_osNoConformidad.oc_os.proveedor.detalleDePersona.nombre" />							
					<@s.hidden id="nroProveedor" name="oc_osNoConformidad.oc_os.proveedor.nroProveedor"/>
					<@s.hidden id="razonSocial" name="oc_osNoConformidad.oc_os.proveedor.detalleDePersona.razonSocial"/>
					<@s.hidden id="nombre" name="oc_osNoConformidad.oc_os.proveedor.detalleDePersona.nombre"/>
					
				</td>
    		</tr>
	    		
	    		<#--<tr>
					<td class="texto_datos"  align="right">Fecha de Entrega/Prestaci&oacute;n:</td>
	      			<td class="texto" align="left" colspan="3">
	      			<@s.if test="oc_osNoConformidad.oc_os.fechaEntregaPrestacion != null">
					<#assign fecha = oc_osNoConformidad.oc_os.fechaEntregaPrestacion> 
					${fecha?string("dd/MM/yyyy")}	
					</@s.if>
						
				</tr>-->
				

	    		<tr>
					<td class="textoCampo">Lugar de Entrega/Prestaci&oacute;n:</td>
	      			<td  class="textoDato" colspan="3"><@s.property default="&nbsp;" escape=false value="oc_osNoConformidad.oc_os.LugarEntregaPrestacion"/>&nbsp;</td>
				</tr>
	    		
	    		<tr>
					<td class="textoCampo">Observaciones:</td>
	      			<td  class="textoDato" colspan="3"><@s.property default="&nbsp;" escape=false value="oc_osNoConformidad.oc_os.observaciones"/>&nbsp;</td>
				</tr>
	    		
	    		<tr>
					<td class="textoCampo">Estado:</td>
	      			<td  class="textoDato">
						<@s.property default="&nbsp;" escape=false value="oc_osNoConformidad.oc_os.estado"/></td>
					</td>

					<td class="textoCampo">&nbsp;</td>
	      			<td class="textoDato">&nbsp;</td>
	    		</tr>
			</table>	
		</div>	
		
		<div id="capaCabeceraCuerpo" class="capaCabeceraCuerpo">
			<table id="tablaTituloCuerpo" class="tablaTituloCuerpo">
	            <tr>
					<td><b>Datos de la No Conformidad</b></td>
				</tr>
			</table>
			<table id="tablaDatosCuerpo" class="tablaDatosCuerpo">
				<tr>
	        		<td class="textoCampo" colspan="4">&nbsp;</td>
	        	</tr>	
				<tr>
					<td class="textoCampo">Fecha Autom&aacute;tica:</td>
					<td class="textoDato">
						<@s.if test="oc_osNoConformidad.fechaAutomatica != null">
							<#assign fechaAutomatica = oc_osNoConformidad.fechaAutomatica> 
							${fechaAutomatica?string("dd/MM/yyyy")}	
						</@s.if>
						<@s.else>
							&nbsp;
						</@s.else>
					</td>	
										<td class="textoCampo">&nbsp;</td>
	      			<td class="textoDato">&nbsp;</td>
				</tr>
				<tr>
					<td class="textoCampo">Observaciones Autom&aacute;ticas:</td>
	      			<td  class="textoDato" colspan="3"><@s.property default="&nbsp;" escape=false value="oc_osNoConformidad.observacionAut"/></td>
				</tr>
			
				<tr>
					<td class="textoCampo">Fecha Ultima Modificaci&oacute;n:</td>
					<td class="textoDato">
						<@s.if test="oc_osNoConformidad.fechaUltMod != null">
							<#assign fechaUltMod = oc_osNoConformidad.fechaUltMod> 
							${fechaUltMod?string("dd/MM/yyyy")}	
						</@s.if>
					</td>	
										<td class="textoCampo">&nbsp;</td>
	      			<td class="textoDato">&nbsp;</td>
				</tr>
				<tr>
					<td class="textoCampo">Observaciones Manuales:</td>
					<td  class="textoDato" colspan="3">
					
					<@s.textarea	
							templateDir="custontemplates" 						  
							cols="89" rows="4"	      					
							cssClass="textarea"
							id="oc_osNoConformidad.observacionManual"							 
							name="oc_osNoConformidad.observacionManual"  
							label="Observaciones"														
							 /> 
							 
					</td>	
				</tr>
			</table>	
		</div>		
 
