body {
	background:#FFFFFF;
}

h1 {
	font-family: Verdana,Tahoma,Arial,sans-serif; 
	font-size: 20px; 
	font-weight: bold; 
	color:#1F4760;
	text-align:center;
	text-decoration:underline;
}

h2 {
	font-family: Verdana,Tahoma,Arial,sans-serif; 
	font-size: 14px; 
	font-weight: bold; 
	color:#000000; 
	text-align:left;
}

h3 {
	font-family: Verdana,Tahoma,Arial,sans-serif; 
	font-size: 12px; 
	font-weight: bold; 
	color:#000000; 
	text-align:left;
	text-indent:30px;
}

h4 {
	font-family: Verdana,Tahoma,Arial,sans-serif; 
	font-size: 20px; 
	font-weight: bold; 
	color:#1F4760; 
	text-align:left;
	border-bottom: 1px solid #006699;

}

a:link { 
	color: #006699; 
	text-decoration: none
}
a:active { 
	color: #006699; 
	text-decoration: none
}

a:visited { 
	color: #006699; 
	text-decoration: none
}

a:hover{ 
	color: #006699; 
	text-decoration: underline
	}

.descripcionMaestro {
	padding-left:80px;
	display:none;
}

.contenedorParrafoDescripcion {
	border: 2px solid #006699;
	background:#F2F2F2;
	padding:8px 8px 8px 8px;
	

}

.parrafoDescripcion{
	text-align:justify;
	font-family: Verdana,Tahoma,Arial,sans-serif; 
	font-size: 12px; 
	font-weight:normal; 	
	color:#000000;
}

.textoComun{
	text-align:justify;
	font-family: Verdana,Tahoma,Arial,sans-serif; 
	font-size: 12px; 
	font-weight:normal; 	
	color:#000000;
}

.descripcionModulo {
	padding-left:80px;
	display:none;
}

.accion {
	padding-left:10px;
	display:none;
}

ul {
	text-indent:40px;
	list-style-image:url(../images/flecha1.gif);
}


.menu{
	text-align:left;
	font-family: sans-serif; 
	font-size: 14px;
	font-weight:bold;	 
	font-weight:normal; 	
	color:#000099;
	margin: 0 0 0 0;
	text-align:right;
	}
	
.parrafo{
	text-align:left;
	font-family: sans-serif; 
	font-size: 12px; 
	font-weight:normal; 	
	color:#000066;
	margin: 0 0 0 0;
	}

