#lightbox{
	padding: 10px;
	background:#fff;
	border:1px solid #000;
	z-index:1100;
}

#overlay{	
	z-index:1000;
}

* html #overlay{
	background-color: #333;
	back\ground-color: transparent;
/*	background-image: url(blank.gif);	*/
}