body {
	margin:0px 20px 0px 20px;
	background:#DEDEDD;

}

.capaPrincipal { 
	border-right: 1px solid #006699;
	border-left: 1px solid #006699; 
}

.capaSuperiorLogin { 
	background:#C7D4E4;
	border-top:4px solid #6097CF;
	border-bottom: 1px solid #C7D4E4;
	
}

.tablaSuperiorLogin {
	width:100%;
	color:#1F4760;
	font: bold 18px Verdana,Tahoma,Arial,sans-serif;
	height:12%;
}

/*.capaInferiorLogin { 
	background:#C7D4E4;
	border-bottom:4px solid #6097CF;
	border-top: 1px solid #C7D4E4;
	
}

.tablaInferiorLogin {
	width:100%;
	color:#1F4760;
	font: bold 11px Verdana,Tahoma,Arial,sans-serif;
	height:8%;
}*/

.textoLogoFraseCalidad {
	color:#372974;
	font: bold 10px Verdana,Tahoma,Arial,sans-serif;
}


.capaCentralLogin { 
	background:#DEDEDD url(../images/fondoAplicacion2.png) center center no-repeat ;
	padding:80px 0px 200px 0px;
	border-bottom:1px solid #6097CF;
	border-top:1px solid #6097CF;
}

.tablaCentralLogin {
	width:60%;
	height:30%;
	color:#1F4760;
	font: bold 12px Verdana,Tahoma,Arial,sans-serif;
	background:#FFFFFF;
	border-top:4px solid #6097CF;
	border-bottom: 1px solid #C7D4E4;
	border-left:6px solid #6097CF;
	border-right: 1px solid #C7D4E4;
	border-collapse:collapse;
}

.errorLogin {

}

.tituloLogin {
	color:#FFFFFF;
	font: bold 14px Verdana,Tahoma,Arial,sans-serif;
	border-bottom: #0F6FB8 1px solid;
	background: #6097CF;
	
}

.campoLogin {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
}

.textarea {
	border: #3F6891 1px solid; 
	font-size: 11px; 
	color: black; 
	background: #DFE7F1;
	width:200px;
	height:20px;
	
}

.boton {
	color: #006699;
	font-weight: bold;
	font-size:11px;
	
}

.botonera {
	background:#F0F6FD;//#ECF0F4;
	
}

