body {
	margin:0px 0px 0px 0px;
	background:#DADAD9 url(../images/fondoAplicacion2.png) center center no-repeat ;
	height: 100%;
}

html{
	height:100%;
}

.capaPrincipal { 
	height:100%;
}



.capaCabecera { 
	background:#C7D4E4;
	border-top:4px solid #6097CF;
	border-bottom: 1px solid #C7D4E4;//#8EA1AF;
	color:#1F4760;
	height:12%;
}

.tablaCabecera {
	color:#1F4760;
	width:100%;
}

.tituloPrincipalCabecera { 
	font: bold 18px Verdana,Tahoma,Arial,sans-serif;
}

.tituloSecundarioCabecera {
	font:10px Verdana,Tahoma,Arial,sans-serif;
}

.capaMenu {
	background-color:white; 
	padding-left: 8px;  
	
}

.cursorMenu {
	 cursor: pointer;
}


.capaItemsMenu li:hover {
	background: url(../images/item-over-menu.png) left top no-repeat;
}

.capaItemsMenu {
	width:100%;
	border-bottom:solid 1px #B1C4CF;
	border-left: solid 1px #B1C4CF;
}

.capaItemsMenu ul{
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin:0;
	font: 12px Verdana;
	text-align: left;
}

.capaItemsMenu ul li{
	display: table;
	width:100%;
}


.capaItemsMenu ul li a{
	color: #494949;
	padding: 0px 0px;
	margin: 0;
	text-decoration: none;
	padding-left: 8px;
	text-indent:0px;	
}




.capaSubmenu{
	padding-left: 12px;
	visibility: hidden;
	display:none;
	text-indent:0px;
}

.capaSubmenus li:hover {
	background: url(../images/item-over.png) center center repeat;
}


.capaSubmenus ul li a{
	padding-left: 12px;
	margin:0px;
	text-indent:0px;
	width:100%;
}

.capaSubmenus{
	padding: 0px 0px 0px 0px;
	padding-left: 12px;
	margin:0;
	text-align: left;
	text-indent:0px;
}



.capaSubmenus a:hover{
	font-weight: normal;
	padding-left:0px;
	padding: 0px 0px 0px 0px;
	padding-left:12px;
}

.capaSubmenus ul li{
	padding-left: 12px;
}

ul{
	list-style: none;
	border-left: none;
	border-top:none;
}


.capaCuerpo {
	padding: 3px 0px 0px 0px; 
}
.menu1{
      background-color:#B1C4CF;
      display:block;
      text-decoration: none;
      color: #000000;
      font-family:Arial, Helvetica, sans-serif;
      font-size:12px;
      cursor:pointer;
}


 .submenu{
      background-color:#CCCCCC;
      display: block;
      height: 19px;
      padding-top: 2px;
      padding-left: 37px;
      color: #333333;
      font-family:Verdana, Arial, Helvetica, sans-serif;
      font-size:10px;
      
}

.hide{
      display: none;
}

.show{
      display: block;
}
#contenedor { text-align: left; width: 100%; height:99%; margin: auto; } 
#container {width:100%; height:100%; }
#capaMenu {overflow:auto;  background-color:white; width: 18%; float: left; height:100%; padding-left: 8px; }
#flecha {height:100%; float:left; border:solid 1px #B1C4CF;  padding-top:4px;}
#contentTrx { float:left; height:100%; overflow:auto; }
#pie{clear: both; } 
#colapD {cursor:pointer;}
#colapI {cursor:pointer;}
	
}
.bodyExpandido{
      width: 95%;
}

.bodyContraido{
	  width: 80%;
}
.menuContraido{
	  width: 96.6%;
}
.cabeceraMenu {
	background: url(../images/borderlayout-hm.png) repeat 0 0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:10px;
    font-weight: bold;
    text-indent: 25px;
    color: #172D3A;
    border:solid 1px #B1C4CF;
    border-right: none;
}

.flechaContraido {
	width: 30px;
	background:url(../images/splt-h-desp.png) repeat-y 0 0;
}

.flechaDesplegado {
	width: 6px;
	background:url(../images/splt-h-ns.png) repeat-y 0 0;
}
