
.capaTituloCuerpo {
	border-right: 1px solid #006699;
	border-left: 1px solid #006699;
}

.tablaTituloMenu {
	width:100%;
	font:bold 11px Verdana,Tahoma,Arial,sans-serif;	
	color:#ffffff;
	border-bottom: #0F6FB8 2px solid;
	background: #6097CF;
}

.capaTituloAccion {
	padding:10px 0px 0px 0px;
	border-right: 1px solid #006699;
	border-left: 1px solid #006699;
	background:#ffffff;
}

.tablaTituloAccion {
	width:100%;
	border-bottom: #0F6FB8 1px solid;
	background: #FFFFFF;
	font:bold 11px Verdana,Tahoma,Arial,sans-serif;	
	color:#1F4760;
	
}
	
.estiloMensajeAviso {
	font:normal 11px Verdana,Tahoma,Arial,sans-serif;	
	color: #006699;
	background:#F2F2F2;
	border: 1px solid #006699;
	padding:2px;
	
}	
	
.capaCabeceraCuerpo {
	background: #FFFFFF;
	padding: 1px 0px 0px 0px;
   	border-right: 1px solid #006699;
	border-left: 1px solid #006699; 
	
}

.tablaTituloCuerpo{
	width:100%;
	font:11px Verdana,Tahoma,Arial,sans-serif;
	color: #1F4760;
	background: #DFE7F1; 
}

.tablaTituloCuerpo td {
	padding:3px 0px 3px 0px;
}

.tablaTituloCuerpo a {
	color: #1F4760;
	text-decoration:none;
}

.tablaDatosCuerpo {
  width:100%;
  font:11px Verdana,Tahoma,Arial,sans-serif;
  padding:4px 0px 0px 0px;
}

.textoCampo {
	color: #006699;
	text-align:right;
	width:20%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
}

.textoRojo {
	color: #FF0000;
	text-align:left;
	width:20%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
}

.textoDato {
	color: black;
	text-align:left;
	width:30%; 
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
	
}

.textarea {
	border: #3F6891 1px solid; 
	font-size: 11px; 
	color: black; 
	background: #DFE7F1;
}

.textareagris {
	border: #3F6891 0px solid; 
	font-size: 10px; 
	background: #F2F2F2;
	opacity:0.8;
	width:10%; height:10%;
}

.lineaGris {
	color: #006699; 
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a5a4a3;
}

.boton {
	 //border: solid;
 	//-moz-border-radius: 40px 10px;
	color: #006699;
	padding: 1px;
	font-weight: bold;
	font-size:11px;
	//background-image:url(../images/b_hacer_selec.gif) no-repeat; 
	cursor: pointer;
}

	

.boton:hover {
	background-image:url(../images/chromebg-over.gif) center center repeat-x; 
} 

.capaDetalleCuerpo {
	background:#FFFFFF;
}

.capaDetalleCuerpo a {
	color: #1F4760;
	text-decoration:none;
	font:bold 11px Verdana,Tahoma,Arial,sans-serif;
	
}

.tablaTituloDetalleCuerpo {
	width:100%;
	font:bold 11px Verdana,Tahoma,Arial,sans-serif;
	color: #1F4760;
	background: #DFE7F1; 
    border-right: 1px solid #006699;
	border-left: 1px solid #006699; 
}

.tablaTituloDetalleCuerpo a {
	color: #1F4760;
	text-decoration:none;
	text-align: right;
}

.alineacion {
	float:left;
	margin-left:3px;
	margin-right:3px;
	text-align: center;	
}

.alineacionMenor {
	float:left;
	margin-left:1px;
	margin-right:1px;
	text-align: center;	
}
.alineacionDerecha {
	float:right;
	text-align: center;
}
.alineacionIzquierda {
	float:left;
	text-align: center;
}

.alineacionDerechaBig {
	float:right;
	text-align: center;
	font: bold 10px Verdana,Tahoma,Arial,sans-serif;
}

.tablaDetalleCuerpo { 
	border: 1px solid #006699;
	width: 100%;
	margin: 0px 0px 0px 0px;
	font: bold 10px Verdana,Tahoma,Arial,sans-serif;
}

.tablaDetalleCuerpo a { 
	font: bold 10px Verdana,Tahoma,Arial,sans-serif;
}

.tablaDetalleCuerpo th {  
	font: bold 10px Verdana,Tahoma,Arial,sans-serif;
	background: #B9D2E1;
	border-bottom: 1px solid #006699;
	border-right: 1px solid #006699;
	color:#006699;
	padding: 3px 5px;
}

.tablaDetalleCuerpo td {
	padding: 3px 5px;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
	color: #006699;
	font: 11px Verdana,Tahoma,Arial,sans-serif;
}

.tablaDetalleCuerpo td.paginador{
	color: #3E3E9F;
	text-align: center;
}

botoneraAnchoCon6{
width:140px;
text-align: center;
}
.botoneraAnchoCon5{
width:125px;
text-align: center;
}
.botoneraAnchoCon4{
width:100px;
text-align: center;
}

.botoneraAnchoCon3{
width:82px;
text-align: center;
}
.botoneraAnchoCon3a{
width:80px;
text-align: center;
}

.botoneraAnchoCon2{
width:60px;
text-align: center;
}

.botoneraAnchoCon1{
width:50px;
text-align: center;

}

.estiloNumero{
text-align: right;
}

.estiloTexto{
text-align: left;
}

.estiloTextoAnchoFijo{
	text-align: left;
	width:20%;	
}

.estiloTextoAnchoFijoMenor{
	text-align: left;
	width:10%;	
}

.estiloNumeroAnchoFijo{
	text-align: right;
	width:5%;	
}

.capaBotonera {
	background:#F0F6FD;//#ECF0F4;
	border-right: 1px solid #006699;
	border-left: 1px solid #006699;
	border-bottom: 1px solid #0F6FB8;
	margin:-2px 0px 0px 0px;
		
}

.tablaBotonera{
	width:100%;

}

.tablaBotonera td {
	 COLOR: #006699;
	 padding:1px 6px 1px 0px;
}

DIV.ocultarIcono {
	display:none;
}



.capaSeparadora {
	background:#FFFFFF;
	border-right: 1px solid #006699;
	border-left: 1px solid #006699;	
}

DIV.item {
	opacity:0.4;
	filter:alpha(opacity=40);		
	width:10%; height:10%;

}

.total{	
	font-weight:bold;
	background-color:#DFE7F1;
}

.celdaHabilitada {
	background-color:#FFFFFF;
}
.celdaDeshabilitada {
	background-color:#F2F2F2;

	
}
/*estilos que se utilizan en Gestionar FSC/FSS*/
.botoneraAnchoCon5Color{
width:125px;
text-align: center;
background-color: #F0F6FD;
}

.botoneraAnchoCon4Color{
width:100px;
text-align: center;
background-color: #F0F6FD;
}

.estiloNumeroColor{
text-align: right;
background-color: #F0F6FD; 

}

.estiloNumeroResaltado{
text-align: right;
font:bold 15px Verdana,Tahoma,Arial,sans-serif;	
}

.estiloTextoColor{
text-align: left;
background-color: #F0F6FD; 

}
*/


.textoGris{
color: #A4A4A4;
FONT-SIZE: 11px;
FONT-FAMILY: Tahoma, Sans-serif;
TEXT-ALIGN: left;
FONT-WEIGHT: bold;
}


.capaLink {
	background:#FFFFFF;
	border-right: 1px solid #006699;
	border-left: 1px solid #006699;
	font:11px Verdana,Tahoma,Arial,sans-serif;
	color: #1F4760;
	text-decoration:none;
	height:20px;
}


.capaLink a {
	color: #1F4760;
	text-decoration:none;
}

.letraChica {
	FONT-SIZE: 10px;
	BORDER: #3F6891 1px solid;
	COLOR: black; 
	BACKGROUND-COLOR: #DFE7F1;
	FONT-FAMILY: Tahoma
}

.capaTexto {
	background:#FFFFFF;
	border-right: 1px solid #006699;
	border-left: 1px solid #006699;	
	font:11px Verdana,Tahoma,Arial,sans-serif;
	font-weight:bold;
	color: #006699;
	
}
