<#assign s=JspTaglibs["/WEB-INF/tlds/struts-tags.tld"]>
<#assign vc=JspTaglibs["/WEB-INF/tlds/view-controls.tld"]>



<div id="capaBotonera" class="capaBotonera">
	<table id="tablaBotonera" class="tablaBotonera">
		<tr> 
			<td align="right">
				<input id="cancelar" type="button" name="btnCancelar" value="Cancelar" class="boton"/>
				<input id="store" type="button" name="btnAgregar" value="Agregar" class="boton"/>
			</td>
		</tr>	
	</table>
</div>



<@vc.htmlContent 
  baseUrl="${request.contextPath}/maestro/carteleria/createCarteleriaCodigoPostal.action" 
  source="store" 
  success="contentTrx" 
  failure="errorTrx"  
  parameters="carteleriaCodigoPostal.carteleria.oid={carteleriaCodigoPostal.carteleria.oid},carteleriaCodigoPostal.kmCiudad={carteleriaCodigoPostal.kmCiudad},carteleriaCodigoPostal.puntoCardinal={carteleriaCodigoPostal.puntoCardinal},carteleriaCodigoPostal.codigoPostal.pk.identificador={carteleriaCodigoPostal.codigoPostal.pk.identificador},carteleriaCodigoPostal.codigoPostal.pk.secuencia={carteleriaCodigoPostal.codigoPostal.pk.secuencia}"/>

<@vc.htmlContent 
  baseUrl="${request.contextPath}/compras/flowControl.action"  
  source="cancelar" 
  success="contentTrx" 
  failure="errorTrx"  
  parameters="navigationId=${navigationId},flowControl=back"/>
