<#setting locale="es_AR">
<#assign s=JspTaglibs["/WEB-INF/tlds/struts-tags.tld"]>
<#assign tiles=JspTaglibs["/WEB-INF/tlds/tiles-jsp.tld"]>
<#assign display=JspTaglibs["/WEB-INF/tlds/displaytag.tld"]>
<#assign ajax=JspTaglibs["/WEB-INF/tlds/ajaxtags.tld"]>
<#assign vc=JspTaglibs["/WEB-INF/tlds/view-controls.tld"]>
						


	<div id="capaTituloCuerpo" style="border-right: 1px solid #006699; border-left: 1px solid #006699;">
   		<table id="tablaTituloMenu" style="	width:100%; font:bold 11px Verdana,Tahoma,Arial,sans-serif;	color:#ffffff; border-bottom: #0F6FB8 2px solid; background: #6097CF;">
			<tr>
				<td></td>
			</tr>
		</table>
	</div>
	<div id="capaTituloAccion" style="padding:10px 0px 0px 0px;	border-right: 1px solid #006699;border-left: 1px solid #006699;	background:#ffffff;">
		<table id="tablaTituloAccion" 
		style="	width:100%;	font:bold 11px Verdana,Tahoma,Arial,sans-serif;	color:#1F4760;	border-bottom: #0F6FB8 1px solid;background: #FFFFFF;">
        	<tr>
            	<td><div id="errorTrx" align="left"></div></td>
           	</tr>
        	<tr>
				<td>No existe ninguna imagen disponible para ser visualizada.</td>
			</tr>
		</table>
	</div>		
	
	


