<#assign s=JspTaglibs["/WEB-INF/tlds/struts-tags.tld"]>
<#assign vc=JspTaglibs["/WEB-INF/tlds/view-controls.tld"]>
<#assign ajax=JspTaglibs["/WEB-INF/tlds/ajaxtags.tld"]>
<td class="textoDato">
	<@s.property default="&nbsp;" escape=false value="factura.cliente.descripcion"/>	      									
		<@s.a templateDir="custontemplates" id="seleccionarCliente" name="seleccionarCliente" href="javascript://nop/" cssClass="ocultarIcono">
			<img src="${request.contextPath}/common/images/buscar.gif" border="0" align="absmiddle" hspace="3" >
	</@s.a>		
</td>	