<td class="textoCampo">Cliente:</td>
<td class="textoDato">
	<@s.select 
		templateDir="custontemplates" 
		id="recepcionProductoBien.cliente.oid" 
		cssClass="textarea"
		cssStyle="width:165px" 
		name="recepcionProductoBien.cliente.oid" 
		list="clienteList" 
		listKey="oid" 
		listValue="descripcion"		
		title="Cliente"
		headerKey="" 
	    headerValue="Todos" />
</td>				


