<#assign s=JspTaglibs["/WEB-INF/tlds/struts-tags.tld"]><#assign display=JspTaglibs["/WEB-INF/tlds/displaytag.tld"]><#assign ajax=JspTaglibs["/WEB-INF/tlds/ajaxtags.tld"]><#assign vc=JspTaglibs["/WEB-INF/tlds/view-controls.tld"]>
<@ajax.anchors target="contentTrx">	
<div id="capaDetalleCuerpo" class="capaDetalleCuerpo">	<table id="tablaTituloDetalleCuerpo" class="tablaTituloDetalleCuerpo">		<tr>			<td>Ubicaciones</td>		</tr>	</table>	
		<@display.table class="tablaDetalleCuerpo" cellpadding="3" name="deposito.depositoUbicacionList" id="filaColumna" defaultsort=1 >			<@display.column decorator="ar.com.riouruguay.web.common.actions.decorators.CommonColumnDecorator" headerClass="tbl-contract-service-service" class="estiloNumero" property="fila" title="Fila" />		<@display.column decorator="ar.com.riouruguay.web.common.actions.decorators.CommonColumnDecorator" headerClass="tbl-contract-service-service" class="estiloNumero" property="columna" title="Columna" />		<@display.column decorator="ar.com.riouruguay.web.common.actions.decorators.CommonColumnDecorator" headerClass="tbl-contract-service-service" class="estiloNumero" property="ubicacion" title="Ubicaci&oacute;n" />						</@display.table></div>
</@ajax.anchors>
