<#assign s=JspTaglibs["/WEB-INF/tlds/struts-tags.tld"]>
<#assign vc=JspTaglibs["/WEB-INF/tlds/view-controls.tld"]>


<div id="capaBotonera" class="capaBotonera">
	<table id="tablaBotonera" class="tablaBotonera">
		<tr> 
			<td align="right">
				<input id="cancelar" type="button" name="btnCancelar" value="Cancelar" class="boton"/>
				<input id="eliminar" type="button" name="btnEliminar" value="Eliminar" class="boton"/>
			</td>
		</tr>	
	</table>
</div>

<@vc.htmlContent 
  baseUrl="${request.contextPath}/deposito/ingresoProducto/deleteIngresoProductoDetalle.action" 
  source="eliminar" 
  success="contentTrx" 
  failure="errorTrx"  
  parameters="ingresoProductoDetalle.oid={ingresoProductoDetalle.oid},ingresoProductoDetalle.ingresoProducto.oid={ingresoProductoDetalle.ingresoProducto.oid}"/>
  
<@vc.htmlContent 
    baseUrl="${request.contextPath}/compras/flowControl.action"  
  source="cancelar" 
  success="contentTrx" 
  failure="errorTrx"  
  parameters="navigationId=ingresoProducto-administrar,flowControl=back"/>

