<#assign s=JspTaglibs["/WEB-INF/tlds/struts-tags.tld"]>
<#assign vc=JspTaglibs["/WEB-INF/tlds/view-controls.tld"]>


<div id="capaBotonera" class="capaBotonera">
	<table id="tablaBotonera" class="tablaBotonera">
		<tr> 
			<td align="right">
				<input id="cancelar" type="button" name="btnCancelar" value="Cancelar" class="boton"/>
				<input id="update" type="button" name="btnModificar" value="Modificar" class="boton"/>
			</td>
		</tr>	
	</table>
</div>

<@vc.htmlContent 
  baseUrl="${request.contextPath}/comprobante/fondoFijo/updateSinComprobante.action" 
  source="update" 
  success="contentTrx" 
  failure="errorTrx"  
  parameters="fondoFijoSinComprobante.oid={fondoFijoSinComprobante.oid},fondoFijoSinComprobante.importe={fondoFijoSinComprobante.importe},fondoFijoSinComprobante.rubro.oid={fondoFijoSinComprobante.rubro.oid},fondoFijoSinComprobante.cuentaContable.codigo={fondoFijoSinComprobante.cuentaContable.codigo},fondoFijoSinComprobante.descripcion={fondoFijoSinComprobante.descripcion},fondoFijoSinComprobante.fondoFijo.oid={fondoFijoSinComprobante.fondoFijo.oid}"/>
  

<@vc.htmlContent 
  baseUrl="${request.contextPath}/compras/flowControl.action" 
  source="cancelar" 
  success="contentTrx" 
  failure="errorTrx"  
  parameters="navigationId=fondoFijo-administrar,flowControl=back"/>
  
<@vc.htmlContent 
  baseUrl="${request.contextPath}/comprobante/fondoFijo/selectRubro.action" 
  source="seleccionarRubro" 
  success="contentTrx" 
  failure="errorTrx"  
  parameters="navigationId={navigationId},flowControl=change,fondoFijoSinComprobante.oid={fondoFijoSinComprobante.oid},fondoFijoSinComprobante.importe={fondoFijoSinComprobante.importe},fondoFijoSinComprobante.rubro.oid={fondoFijoSinComprobante.rubro.oid},fondoFijoSinComprobante.cuentaContable.codigo={fondoFijoSinComprobante.cuentaContable.codigo},fondoFijoSinComprobante.descripcion={fondoFijoSinComprobante.descripcion},fondoFijoSinComprobante.fondoFijo.oid={fondoFijoSinComprobante.fondoFijo.oid},navegacionIdBack={navegacionIdBack}"/>
  